# Лабораторная работа №1

## Вариант 10
## Работа c библиотекой pandas
### Данные:
- CustomerID – идентификатор покупателя;
- Genre – пол;
- Age – возраст;
- Annual Income (k$) – годовой доход;
- Spending Score (1-100) – рейтинг трат.

## Задание 1: Импортируйте необходимые библиотеки

In [1]:
import numpy as np
import pandas as pd

## Задание 2: Импортируйте набор данных из файла mall_customers.csv и поместите его в объект DataFrame

In [2]:
df = pd.read_csv('mall_customers.csv')

## Задание 3: Выведите 10 первых строк

In [3]:
print(df.head(10))

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
5           6  Female   22                  17                      76
6           7  Female   35                  18                       6
7           8  Female   23                  18                      94
8           9    Male   64                  19                       3
9          10  Female   30                  19                      72

## 4. Сколько строк и столбцов в наборе данных?

In [4]:
print(df.shape)

(200, 5)

## 5. Получите сводную информацию по датафрейму

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None

## 6. Каков процент мужчин и процент женщин в наборе данных?

In [6]:
print(df['Genre'].value_counts(normalize=True) * 100)

Genre
Female    56.0
Male      44.0
Name: proportion, dtype: float64

## 7. Что является индексом набора данных?

In [7]:
print(df.index)  
# это порядковые номера строк

RangeIndex(start=0, stop=200, step=1)

## 8. Проиндексируйте датафрейм по полю Genre

In [8]:
df_indexed = df.set_index('Genre')
print(df_indexed.head())

        CustomerID  Age  Annual Income (k$)  Spending Score (1-100)
Genre
Male             1   19                  15                      39
Male             2   21                  15                      81
Female           3   20                  16                       6
Female           4   23                  16                      77
Female           5   31                  17                      40

##  9. Определите наибольшее и наименьшее значение годового дохода в категории Genre

In [9]:
print(df.groupby('Genre')["Annual Income (k$)"].max())
print(df.groupby('Genre')["Annual Income (k$)"].min())

Genre
Female    126
Male      137
Name: Annual Income (k$), dtype: int64
Genre
Female    16
Male      15
Name: Annual Income (k$), dtype: int64

## 10.Существует ли взаимосвязь между полом и годовым доходом?

In [10]:
print(df.groupby('Genre')["Annual Income (k$)"].mean())

Genre
Female    59.250000
Male      62.227273
Name: Annual Income (k$), dtype: float64

## 11. Определите наибольшее и наименьшее значение рейтинга трат в категории Genre

In [11]:
print(df.groupby('Genre')["Spending Score (1-100)"].max())
print(df.groupby('Genre')["Spending Score (1-100)"].min())

Genre
Female    99
Male      97
Name: Spending Score (1-100), dtype: int64
Genre
Female    5
Male      1
Name: Spending Score (1-100), dtype: int64

## 12. Существует ли взаимосвязь между полом и рейтингом трат?

In [12]:
print(df.groupby('Genre')["Spending Score (1-100)"].mean())

Genre
Female    51.526786
Male      48.511364
Name: Spending Score (1-100), dtype: float64

## 13. Как зависит рейтинг трат от годового дохода?

In [13]:
print(df[['Annual Income (k$)', 'Spending Score (1-100)']].corr())

                        Annual Income (k$)  Spending Score (1-100)
Annual Income (k$)                1.000000                0.009903
Spending Score (1-100)            0.009903                1.000000

## 14. Преобразуйте значения Annual Income в числа с плавающей запятой и получите сводку статистик для столбца Annual Income

In [14]:
df_copy_float = df.copy()
df_copy_float['Annual Income (k$)'] = df_copy_float['Annual Income (k$)'].astype(float)
print(df_copy_float['Annual Income (k$)'].describe())

count    200.000000
mean      60.560000
std       26.264721
min       15.000000
25%       41.500000
50%       61.500000
75%       78.000000
max      137.000000
Name: Annual Income (k$), dtype: float64

## 15. Разделите набор данных на три датафрейма по рейтингу трат (высокий, средний и низкий)

In [15]:
low = df[df["Spending Score (1-100)"] < 35]
mid = df[(df["Spending Score (1-100)"] >= 35) & (df["Spending Score (1-100)"] <= 65)]
high = df[df["Spending Score (1-100)"] > 65]
print(len(low), len(mid), len(high))

50 92 58